{% extends 'base.html'%}
{% block title %}
Немножко о себе
{% endblock %}

{% block content %}
<h3><p>Юрковец Евгений Николаевич родился в Республике Беларусь в 1990 году. Закончил Кличевский аграрно-технический
колледж по специальности техник-механик.  После сразу поступил в Белорусский Государственный Аграрный Технический
Университет на специальность инженер. Успешно его закончил в 2013 году и поступил в Институт бизнеса и менеджмента
технологий БГУ на заочное отделение. В 2014 году закончил и данное заведение и получил диплом по специальности
специалист по логистике, экономист.</p></h3>

</body>
</html>
{% endblock %}
</div>

